.dataLoader {
  width: 30rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  gap: 1.2rem;
}
.btn {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
