.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30rem;
  background-color: white;
  transition: border 0.3s ease;
}
.card:hover {
  border: 1px solid #333;
}
.img {
  width: 100%;
  height: auto;
}
.title {
  padding: 1rem;
  color: #333;
}
.content{
  margin: 1.2rem;
  text-align:justify;
}
